<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Charts.WinForms" version="1.1.5" targetFramework="net472" />
  <package id="Bunifu.Dataviz.WinForms" version="2.2.0" targetFramework="net472" />
  <package id="Bunifu.MySQL.Portable" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Bunifu.Reports" version="1.0.5" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="5.2.0" targetFramework="net472" />
  <package id="Bunifu.Utils" version="1.0.6" targetFramework="net472" />
  <package id="EasyHTMLReports" version="1.0.0" targetFramework="net472" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net472" />
</packages>